<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
      <a class='navbar-brand logo' [routerLink]="['']" title="Главная"><i class="fa fa-paw"></i></a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a class="menu-link" [routerLink]="['/lectures']"><i class="menu-link__icon fa fa-home"></i><span class="menu-link__text">Лекциии</span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a class="menu-link" [routerLink]="['/labs']"><i class="menu-link__icon fa fa-edit"></i><span class="menu-link__text">Лабы</span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a class="menu-link" [routerLink]="['/tests']"><i class="menu-link__icon fa fa-desktop"></i><span class="menu-link__text">Контрольные</span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a class="menu-link" [routerLink]="['/results']"><i class="menu-link__icon fa fa-table"></i><span class="menu-link__text">Результаты</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
