<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
      <a class='navbar-brand' [routerLink]="['/home']"><i class="fa fa-paw"></i><span>1С-Битрикс</span></a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/lectures']"><i class="fa fa-home"></i><span>Лекциии</span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/labs']"><i class="fa fa-edit"></i><span>Лабы</span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/tests']"><i class="fa fa-desktop"></i>Контрольные<span class="fa fa-chevron-down"></span></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/results']"><i class="fa fa-table"></i>Результаты<span class="fa fa-chevron-down"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
