<div class="nav navbar-nav topbar">
  <div class="topbar__user">
    <div *ngIf="!auth.isAuthenticated">
      <button (click)="auth.signInWithGitHub()" class="btn btn-default login">
        <i class="fa fa-github login__icon"></i>
        Sign in with GitHub
      </button>
    </div>
    <div *ngIf="auth.isAuthenticated">
      <div class="user">
        <img class="user__img" [src]="auth.currentUser.photoURL" alt="">
        <span class="user__name">{{auth.currentUser.displayName}}</span>
        <span (click)="auth.signOut()" class="btn btn-danger">Sing out</span>
      </div>
    </div>
  </div>
</div>
