@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
.sidebar {
  background: #2A3F54;
  min-height: 100%;
  width: 70px;
  padding: 0;
  z-index: 9;
  position: fixed;
}
.body-content {
  padding-left: 85px;
  padding-right: 15px;
  width: 100%;
  padding-top:50px;
}
.topmenu {
  margin-left: 70px;
}
