$bg-color: #2A3F54;
li .glyphicon {
  margin-right: 10px;
}


/* Highlighting rules for nav menu items */

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}


/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 70px;
}
  .navbar {
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
  }
  .navbar.navbar-inverse {
    background-color: $bg-color;
    width: 70px;
  }
    .navbar a{
      color: #fff;
    }
    .logo {
      font-size: 27px;
      display: block;
      float: none;
      height: 75px;
    }
      .logo .fa {
        border: 1px #fff solid;
        line-height:  1;
        border-radius: 50%;
        margin: 1px 0 12px 0px;
        padding: 6px;
        display: block;
      }
  .navbar-header {
    float: none;
  }
  .navbar-collapse {
    border-top: 0;
    padding: 0px;
  }
  .navbar ul {
    float: none;
  }
    .navbar li {
      float: none;
      font-size: 15px;
      margin: 0px;
      position: relative;
      height: 60px;
      border-radius:0;
    }
      .menu-link {
        position: absolute;
        width: 70px;
        padding: 10px 16px;
        border-radius: 4px;
        color: #fff;
        font-size:11px;
        border-radius: 0;
        background-color: $bg-color !important;
        border-right: 4px $bg-color solid;
        text-align: center;
        -webkit-transition: width 0.2s; /* Safari */
        transition: width 0.2s;
      }
        .link-active .menu-link {
          background-color: $bg-color !important;
          border-color:  #1ABB9C;
        }
          .menu-link__icon {
            display: inline-block;
            font-size: 22px;
          }
          .menu-link__text {
            display: none;
            position: absolute;
            right: 20px;
            top: 13px;
          }
            .menu-link:hover  .menu-link__text {
              display: block;
              padding-left: 20px;
            }
          .menu-link:hover {
            position: absolute;
            background-color: $bg-color;
            padding-right: 130px;
            width: 185px;
            -webkit-transition: width 0.2s; /* Safari */
            transition: width 0.2s;
            z-index: 9999;
          }
